body {
    font-family: 'Roboto', sans-serif;
    background-color: #0000007e;
}

.header {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 140px;
    width: 100%;

}

.header-container {
    position: relative;
    text-align: center;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-decoration: none;
}

.img-thumbnail-small {
    width: 100px; /* Puedes ajustar este valor según el tamaño deseado */
    height: auto; /* Esto mantiene la proporción de la imagen */
}

.fixed-size-image {
    width: 300px;
    height: 200px;
}

.custom-gray-bg {
    background-color: #ffffff;
}

.tn-primary  {
    background-color: #585353;
}

.text-gray-custom {
    color: rgb(115, 115, 115);
}

.text-nav-activated {
    color: #212529 !important;
    /* Importante: el !important es para que el color se aplique */
}

.text-nav-desactivated {
    color: #9e9e9e !important;
    /* Importante: el !important es para que el color se aplique */
}

.custom-text-size {
    font-size: 15px;
}

.link {
    color: #242aa3;
    text-decoration: underline;
}

.link:hover {
    color: rgb(154, 214, 97);
    text-decoration: underline;
}

link.visited {
    color: white;
}

.information {
    color: #dcda40
}

/* Este es el requisito del tamaño de la imagen de la camara, se le añadio un margen superior de 50px para que no se vea tan pegada al titulo de la pagina. */
.img_size_camera {
    margin-top: 50px;
    margin-bottom: 0%;
    width: 50%;
    height: auto;
}

.mt-6 {
    margin-top: 6rem !important;
}
.mt-7 {
    margin-top: 7rem !important;
}

/* Estilos personalizados para el formulario */
.custom-form-group {
    margin-bottom: 1.5rem;
}

.custom-label {
    font-weight: bold;
}

/* Estilos personalizados para las letras */
.font-size-estandar {
    font-size: 16px;
}

.font-size-grande {
    font-size: 22px;
}

.font-size-pequena {
    font-size: 12px;
}

.font-family-arial {
    font-family: 'Arial', sans-serif;
}

.font-family-times {
    font-family: 'Times New Roman', serif;
}

.font-family-courier {
    font-family: 'Courier New', monospace;
}

.user-text {
    margin-left: auto; /* Ajusta el espaciado entre el texto y el enlace */
    color: rgb(255, 255, 255); /* Ajusta el color del texto según el fondo del enlace */
    font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */

}

.navbar-brand {
    color: rgb(0, 0, 255); /* Ajusta el color del texto
}