{% extends 'base.html' %}
{% load static %}
<!-- index.html -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>


{% block body %}
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<div id="main-content" class="row">
    <div id="camera-details" class="col-6 text-center">
        <div class="text-black custom-gray-bg" style="border-radius: 10px; padding: 20px; margin-top: 20px; margin-right: 20px; margin-left: 20px;">
            <h1 style="margin-top: 20px;">{{ camera.name }}</h1>
            <p>Coordenadas: {{ camera.coordinates }}</p>
            <p>ID: {{ camera.id }}</p>
            <a href="{% url 'camera' camera.id %}" class="link">Ver cámara</a>
            <p>Hora actual: {{ now }}</p>
        </div>
        <img src="{% static camera.img_path %}" class="img_size_camera" alt="" hx-get="{% url 'latest_image' camera.id %}?{{now}}" hx-trigger="every 30s" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-swap="outerHTML">
    </div>
    <div id="comment-section" class="col-6">
        <div class="text-black custom-gray-bg" style="border-radius: 10px; padding: 20px; margin-top: 20px; margin-right: 20px; margin-left: 20px;">
            <h1 style="margin-top: 20px; text-align: center;">Comentarios</h1>
        </div>
        <form id="comment-form" action="" method="POST" class="form-group row" style="margin-top: 20px; margin-right: 20px; margin-left: 20px;">
            {% csrf_token %}
            <div class="col-9">
                <label for="commentBody">Introduce un comentario:</label>
                <input type="text" id="commentBody" name="body" class="form-control" placeholder="Escribe tu comentario aquí...">
            </div>
            <div class="col-3 d-flex align-items-end">
                <button type="submit" class="btn mt-3 custom-gray-bg text-black">Enviar comentario</button>
            </div>
        </form>
        <div id="comment-list" hx-get="{% url 'get_comments' camera.id %}?{{now}}" hx-trigger="every 30s" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-swap="outerHTML" hx-boost="true">
            {% include 'cargar_comentarios.html' %}
        </div>
    </div>
</div>

{% endblock %}
