{% extends 'base.html' %}
{% load static %}
<!-- index.html -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>

{% block body %}
<div id="camera-details" class="row custom-gray-bg">
    <div class="col-md-12 text-center ">
        <h1 style="color: black; margin-top: 20px;">{{ camera.name }}, Coordenadas:{{ camera.coordinates }}</h1>
        <a href="{% url 'camera_dyn' camera.id %}" class="link">Página dinámica de la cámara</a>
        <a href="{% url 'camera_json' camera.id %}" class="link">JSON</a>
        <a href="{% url 'comment' %}?camera_id={{ camera.id }}" class="link" style="margin-bottom: 20px;">Añadir comentario</a>
    </div>
</div>

<div id="comment-section" class="row">
    <div class="col-md-6 text-center align-items-center ">
        <h2 class="mb-4 p-2 bg-dark text-white rounded mt-4">Imagen actual</h2>
        <img src="{% static camera.img_path %}" class="img_size_camera" alt="{{ camera.name }}">  
    </div>
    <div class="col-md-6 text-center align-items-center ">
        <h2 class="mb-4 p-2 bg-dark text-white rounded mt-4">Comentarios</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {%if comments %}
                    <form id="comment-order-form" method="post" class="mb-3">
                        {% csrf_token %}
                        <div class="form-group row"> <!-- Added row class here -->
                            <label for="order" class="col-sm-6 col-form-label text-white">Ordenar comentarios:</label> <!-- Added col-sm-6 class here -->
                            <div class="col-sm-4"> <!-- Added this div with col-sm-4 class -->
                                <select class="form-control" id="order" name="order">
                                    <option value="desc">Más nuevos primero</option>
                                    <option value="asc">Más antiguos primero</option>
                                </select>
                            </div>
                            <div class="col-sm-2"> <!-- Added this div with col-sm-2 class -->
                                <button type="submit" class="btn custom-gray-bg text-black">Ordenar</button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <p>Nadie ha comentado</p>
                {% endif %}
            </div>
        </div>
        {% for comment in comments %}
        <div class="col-md-8 offset-md-2 {% if forloop.last %}mb-5{% endif %}" id="comment-{{ comment.id }}">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8 d-flex align-items-center rounded custom-gray-bg">
                        <div class="card-body text-center text-black">
                            <p class="card-text">{{ comment.name }}: {{ comment.comment }}</p>
                            <p class="card-text">ID de la cámara: {{ comment.camera.id }}</p>
                            <p class="card-text">Fecha: {{ comment.date }}</p>
                        </div>
                    </div>
                    <!-- Imagen de la cámara -->
                    <div class="col-md-4 d-flex align-items-center">
                        <img src="{% static comment.img_path_comment %}" class="card-img-bottom mx-auto d-block" alt="Imagen de la cámara">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}
