{% extends 'base.html' %}
{% load static %}
<!-- index.html -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>

{% block body %}

<div id="camera-details" class="row">
    <div class="col-6 text-center">
        <div class="custom-gray-bg text-black" style="border-radius: 10px; padding: 20px; margin-top: 20px; margin-right: 20px; margin-left: 20px;">
            <h1 style="margin-top: 20px;">{{ camera.name }}</h1>
            <p>Coordenadas:{{ camera.coordinates }}<p>
            <p>ID: {{ camera.id }}</p>
            <p>Hora actual: {{ now }}</p>
        </div>
        <img src="{% static camera.img_path %}" class="img_size_camera" alt="{{ camera.name }}">
    </div>
    <div id="comment-section" class="col-6">
        <div class="custom-gray-bg text-black" style="border-radius: 30px; padding: 5px; margin-top: 10px; margin-right: 10px; margin-left: 10px;">
            <h1 style="margin-top: 10px; text-align: center;">Comentarios</h1>
        </div>
        <form id="comment-form" action="" method="POST" class="form-group row" style="margin-top: 20px; margin-right: 20px; margin-left: 20px;">
            {% csrf_token %}
            <div class="col-9">
                <label for="commentBody">Añadir comentario:</label>
                <input type="text" id="commentBody" name="body" class="form-control" placeholder="...">
            </div>
            <div class="col-3 d-flex align-items-end">
                <button type="submit" class="btn mt-4 custom-gray-bg text-black">Enviar</button>
            </div>
        </form>
        {% if comments %}
            {% for comment in comments|dictsortreversed:"date" %}
                <div class="text-black custom-gray-bg" style="border-radius: 10px; padding: 20px; margin-top: 20px; margin-right: 20px; margin-left: 20px;">
                    <h5>{{ comment.name }}: {{ comment.comment }}</h5>
                    <p><small>Fecha: {{ comment.date }}</small></p>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-black custom-gray-bg" style="border-radius: 10px; padding: 20px; margin-top: 20px; margin-right: 20px; margin-left: 20px;">
                <h5>No hay comentarios</h5>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}
