{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block body %}
<div id="comment-section" class="container bg-custom-col-color">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-4">
            <form id="comment-order-form" method="post" style="margin-bottom: 2rem;"> <!-- Añadiendo margin-bottom -->
                {% csrf_token %}
                <div class="form-group custom-form-group row">
                    <label for="order" class="col-sm-4 col-form-label custom-label text-black">Ordenar comentarios:</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="order" name="order">
                            <option value="desc">Más recientes</option>
                            <option value="asc">Más antiguos</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-light text-dark">Ordenar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    {% for comment in comments %}
    <div class="row justify-content-center">
        <div class="col-md-8"> 
            <div class="card mb-4">
                <div class="row g-0">
                    <div class="col-md-7 d-flex align-items-center rounded custom-gray-bg">
                        <div class="card-body text-center text-black">
                            <p class="card-text">{{ comment.name }}: {{ comment.comment }}</p>
                            <p class="card-text">ID de la cámara: <a href="{% url 'camera' comment.camera.id %}" class="link">{{ comment.camera.id }}</a></p>
                            <p class="card-text">Fecha: {{ comment.date }}</p>
                        </div>
                    </div>
                    <!-- Imagen de la cámara -->
                    <div class="col-md-5 d-flex align-items-center">
                        <img src="{% static comment.img_path_comment %}" class="card-img-bottom mx-auto d-block" alt="Imagen de la cámara">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
