{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block body %}
{% if xml_files %}
<div id="data-sources" class="container text-center">
    <div class="row tn-primary">
        <div id="camera-list" class="col-lg-6 order-lg-1 bg-custom-col-color text-gray-custom"> <!-- Cambiado a col-lg-6 -->
            <h2 class="mb-4 p-3 bg-dark text-white rounded mt-4">Lista de cámaras</h2>
            <div class="container text-center">
                <figure>
                    {%if random_img %}
                        <img src="{% static 'img/data/'|add:random_img %}" class="img-thumbnail" alt="" style="width: 300px; height: 200px;">
                        <figcaption class="text-white">Imagen aleatoria</figcaption>
                    {% else %}
                        <h2 class="mb-4 p-3 bg-danger rounded text-white">&#9888; Carga una fuente de datos  &#9888;</h2>
                    {% endif %}
                </figure>
                <hr>
                <div class="row">
                    {% if cameras %}
                        <div id="cameraCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for camera in cameras %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="{% static camera.img_path %}" class="d-block w-100 img-fluid" alt="{{ camera.name }}" style="max-height: 300px;">
                                        </div>
                                        <div class="carousel-caption d-none d-md-block text-center">
                                            <h5 class="information">{{ camera.name }}</h5>
                                            <p class="information">ID: {{ camera.id }}</p>
                                            <div class="row">
                                                <a href="{% url 'camera' camera.id %}" class="information">Página de la cámara</a>
                                                <a href="{% url 'camera_dyn' camera.id %}" class="information">Página dinámica</a>
                                                <a href="{% url 'comment' %}?camera_id={{ camera.id }}" class="information">Página de comentarios</a>
                                                <a href="{% url 'camera_json' camera.id %}" class="information">JSON</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#cameraCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#cameraCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <hr>
                    {% endif %}

                    <div class="container">
                        <h2 class="mb-4 p-3 bg-dark text-white rounded mt-4">Lista de cámaras</h2>
                        <form id="camera-order-form" method="post" style="margin-bottom: 2rem;"> <!-- Añadiendo margin-bottom -->
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="order" class="col-sm-4 col-form-label custom-label text-white">Ordenar cámaras:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="order" name="order">
                                        <option value="desc">Cámaras más comentadas</option>
                                        <option value="asc">Cámaras menos comentadas</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-dark">Ordenar</button>
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-center">
                            {% for camera in cameras %}
                            <div class="col-md-12">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-8 d-flex align-items-center rounded custom-gray-bg">
                                            <div class="card-body text-center text-black">
                                                <h5 class="card-title">{{ camera.name }}</h5>ID: {{ camera.id }} | Comentarios: {{ camera.comment_set.count }}</p>
                                                <div class="row">
                                                    <a href="{% url 'camera' camera.id %}" class="link">Página de la cámara</a>
                                                    <a href="{% url 'camera_dyn' camera.id %}" class="link">Página dinámica</a>
                                                    <a href="{% url 'comment' %}?camera_id={{ camera.id }}" class="link">Página de comentarios</a>
                                                    <a href="{% url 'camera_json' camera.id %}" class="link">JSON</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Imagen de la cámara -->
                                        <div class="col-md-4 d-flex align-items-center">
                                            <img src="{% static camera.img_path %}" class="card-img-bottom mx-auto d-block" alt="{{ camera.name }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Añadir un margen por abajo para que el pie no tape la última cámara de la lista -->
                    <div class="mb-5"></div>

                </div>
            </div>
        </div>
        <div id="data-source-list" class="col-lg-6 order-lg-2 bg-custom-col-color text-gray-custom text-white"> <!-- Cambiado a col-lg-6 -->
            <h2 class="mb-4 p-3 bg-dark text-white rounded mt-4">Fuentes de datos disponibles</h2>
            <form id="xml-selection-form" method="post">
                {% csrf_token %}
                {% for xml_file in xml_files %}
                    <div class="mb-2">
                        <span style="font-size: larger;" class="mt-4 text-white"> Fuente de datos: {{ xml_file }}</span><br>
                        <button type="submit" class="btn btn-dark" name="selected_xml" value="{{ xml_file }}">Cargar datos</button>
                    </div>
                    <hr>
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark" name="selected_xml" value="clean">Eliminar datos (imágenes/comentarios)</button>
                </form>
                <a class="link" href="{% url 'cameras_json' %}">Cámaras en JSON</a>
            </form>
        </div>
    </div>
</div>

{% else %}
    <h1>¡No hay cámaras disponibles!</h1>
{% endif %}
{% endblock %}
